{%extends 'intapp/base.html'%}

{%block title%}
  Форма для статей
{%endblock%}



{%block content%}
 <div class="features">
     <h1>Форма по добавлению статей</h1><br>

     <form action="" method="POST">
         {% csrf_token %}
         <p>{{ form.title }}</p><br>
         <p>{{ form.pasword }}</p><br>
         <p>{{ form.full_text }}</p><br>
         <p>{{ form.date }}</p><br>
        </span> {{ error }}<span>

         <button class="btn btn-success" type="submit">Добавить статью</button>
     </form>
     </div>
{%endblock%}
